.billing-form .form-group input{
    border: 1px solid rgba(0, 0, 0, 0.279);
}

.checkout-cart{
    padding: 20px;
    background: #D2CEC3;
    color: #000000b6;
    border-radius: 5px;
}
.checkout-cart h6, 
h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkout-cart h6{
    margin-bottom: 20px;
}
.checkout-cart h4{
    border-top: 1px solid rgb(221, 221, 221, 0.253);
    padding-top: 20px;
}
