@media only screen and (max-width: 768px){
    .clock-wrapper{
        justify-content: center;
    }
    .clock-data h1{
        font-size: 1.1rem !important;
    }
    .clock-data h5{
        font-size: 0.9rem !important;
    }
}