.auth__form{
    background: coral;
    padding: 40px;
    border-radius: 5px;
}
.auth-btn{
    background-color: coral !important;
    color: #fff;
    font-weight: 600;
}
.auth-form p{
    margin-top: 30px;
}
.auth-form p a {
    color: coral;
}
.auth-form input[type ='file']{
    color: #000;
}
.file-input{
    margin-right: 300px;
}
.google-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    margin-left: 200px;
    width: 250px;
    background: coral;
}
.google-form span i{
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
}
.btn-google{
    border: none;
    background: coral;
    color: #fff;
    font-weight: 600;
}