.auth__form{
    background: coral;
    padding: 40px;
    border-radius: 5px;
}
.auth-btn{
    background-color: coral !important;
    color: #fff;
    font-weight: 600;
}
.auth-form p{
    margin-top: 30px;
}
.auth-form p a {
    color: coral;
}
.auth-form input[type ='file']{
    color: #000;
}
.file-input{
    margin-right: 300px;
}